<h1>Welcome to artical Base</h1>
<p class="mb-4">This is a Sails.js App for manage Articals </p>
<a href="/add" class="btn btn-light">Add Article</a>
<a href="/articles/list" class="btn btn-light">View Article</a>